# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages

# https://registry.astronomer.io/providers/Astro%20SDK/versions/latest
astro-sdk-python==1.8.0
